$heading-color: #159957;

// Text
.ui-content {
  color: rgba(0, 0, 0, .85);

  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.1em;
  }
  h6 {
    font-size: 1em;
  }

  code {
    font-size: 0.9em;
  }
}

// Spacing
.ui-content {
  padding: 1.5rem;
  line-height: 1.65;

  .attr-def {
    margin-top: -1rem;
  }
}

// Border
.ui-content {
  h1, h2 {
    border-bottom: 1px solid #eaecef;
    padding-bottom: .2em;
  }
}

// Visual
.ui-content {
  img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .span-brace {
    color: red;
  }

  .span-bracket {
    color: blue;
  }
}
