body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "微軟正黑體";
}

.main-content {
    padding-top: 0;
}

.main-content > .row {
    min-height: 48rem;
}

.ui-side-nav {
    padding: 2rem 0.5rem;
    background-color: transparent;
}

.ui-side-nav * {
    border: 0;
    background-color: transparent;
}

.ui-side-nav [data-toggle] {
    font-weight: bold;
    cursor: pointer;
}

.ui-side-nav li {
    padding: 0rem 1rem;
}

.ui-content {
    padding: 2rem;
}

.ui-toc {
    padding: 0.75rem;
    background-color: #f7f7f7;
}
